@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

html,
body {
  overflow-x: hidden;
}

@layer components {
  .ProseMirror h1 {
    @apply mt-6 text-3xl font-semibold;
  }

  .ProseMirror h2 {
    @apply mt-5 text-2xl font-semibold;
  }

  .ProseMirror h3 {
    @apply mt-4 text-xl font-semibold;
  }

  .ProseMirror ul {
    @apply list-disc pl-6;
  }

  .ProseMirror ol {
    @apply list-decimal pl-6;
  }
}
